.window {
  max-height: 5vh;
  
}
html{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


.desktop{
  background: teal;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 95vh;
  z-index: 1;
  overflow: show;
  
  
  
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Modern DOS 8x16' !important;

}
#root{
  background: teal;
  
  
}
@font-face {
  font-family: 'Modern DOS 8x16';
  src: url('./assets/fonts/transfonter.org-20241215-111147/ModernDOS8x16.eot');
  src: url('./assets/fonts/ModernDOS8x16.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/transfonter.org-20241215-111147/ModernDOS8x16.woff2') format('woff2'),
      url('./assets/fonts/transfonter.org-20241215-111147/ModernDOS8x16.woff') format('woff'),
      url('./assets/fonts/transfonter.org-20241215-111147/ModernDOS8x16.ttf') format('truetype'),
      url('./assets/fonts/transfonter.org-20241215-111147/ModernDOS8x16.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.title > h1{
    font-family: 'Modern DOS 8x16' !important;
    font-weight: normal;
    font-style: normal;
    color: aliceblue;
    font-size: 45px;
}
.title-bar{
  padding: 10px 9px 10px 10px !important;
  font-size: 19px  !important;
  height: 3vh !important;
}
.StartMenu{
  width: 40% !important;
  display: flex !important;
  background: #C0C0C0;
  
  align-content: center !important;
  z-index: 5;
  height: 30vh;
  position: fixed;
  left: 1px;
  bottom: 8vh;
}
.footer{
  display: block;
}
.footerNav{
  display:flex;
  justify-content: space-around;
  width: 100%;
  height: 5vh;
  background: #C0C0C0;
  padding: 10px;
  border: solid;
  border-color: gray;
  /* margin-top: 20px; */
  margin-right: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  
}
.clockDiv{
  display: flex;
  justify-content: right;
  justify-self: right !important;
  align-items: center;

}
.menuIcon {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  margin: 10px;
}
.menuIcon:hover {
 background-color: blue;
 color: aliceblue;
}
.footerNav > button {
  font-size: 19px !important;
  
  
  text-align: center !important;
  align-content: center;
}
.span{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.iconGrid {
  margin-top: 10px;
  background: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
  grid-gap: 0.5em;

  margin-left: 25px;
  padding: 15px;
  
  z-index: 1;
}
.icon {
display: flex;
flex-direction: column;
align-items: center;
width: 30px;


}
.icon > p {
  margin-top: 5px;
  font-size: small;
  font-family: 'Modern DOS 8x16';
  color: aliceblue;
  text-align: center;
}
.trashGrid{
  display: none;
  /* display: flex; */
  justify-content: right;
  margin-top: 5px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.about{
  height: 95vh;
  font-family: 'Modern DOS 8x16' !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  overflow: show;
}
.profileImg{
  border-radius: 900px;
  max-width: 250px;
  
  border: solid;
  border-width: 3px;
}
.text {
  margin: 20px;
  padding: 10px;
  text-align: justify;
  color: aliceblue;
}
.parrafo {
  font-size: 24px;
  max-width: 550px;
}
.aboutTitle {
  margin: 30px;
  text-align: center;
}
.menuDesplegable{
  background: #C0C0C0;
  width: auto;
}
.barraLateral{
  background: linear-gradient(90deg, navy, #1084d0);

  width: 16px;
  margin: 3px;
}
.textoWindowsLateral{
  margin: 2px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: aliceblue;
}

@media only screen and (max-width: 400px){
  .iconGrid {
    margin-top: 10px;
    background: none;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* see notes below */
    grid-gap: 0.5em;
  
    margin-left: 25px;
    padding: 15px;
    
    z-index: 1;
  }
  .footerNav{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5vh;
    background: #C0C0C0;
    padding: 10px;
    border: solid;
    border-color: gray;
    /* margin-top: 20px; */
    margin-right: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    
  }
  .about{
    height: 95vh;
    font-family: 'Modern DOS 8x16' !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    overflow: show;
  }
  .profileImg{
    border-radius: 900px;
    max-width: 180px;
    
    border: solid;
    border-width: 3px;
  }
  .text {
    margin: 20px;
    padding: 10px;
    text-align: justify;
    color: aliceblue;
  }
  .parrafo {
    font-size: 14px;
    max-width: 200px;
  }
  .aboutTitle {
    margin: 30px;
    text-align: center;
  }
  
}
@media only screen and (min-width: 400px){
.StartMenu{
  width: 70px !important;
  display: flex !important;
  background: #C0C0C0;
  
  align-content: center !important;
  z-index: 5;
  height: 30vh;
  position: fixed;
  left: 1px;
  bottom: 8vh;
  }
  .botondeStart{
    position: fixed;
    left: 5px;
    bottom: 15px;
  }
  .menuDesplegable{
    width: 200px !important;
  }
}